<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="page/table-select.html" />
                <add value="1.html" />
                <add value="page/login-1.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
          <httpProtocol>
            <customHeaders>
                <add name="Cache-Control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="AGVstatus">
                    <match url="^getAgvStatus/([0-9]+)" />
                    <action type="Rewrite" url="http://192.168.0.144:80/rcs/services/rest/hikRpcService/getAgvStatus" />
                </rule>
                <rule name="AGV任务生成">
                    <match url="^genAgvSchedulingTask/([0-9]+)" />
                    <action type="Rewrite" url="http://192.168.0.144:80/rcs/services/rest/hikRpcService/genAgvSchedulingTask" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
